@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  animation: fadeIn 0.3s ease;
}

nav {
  width: 100vw;
  height: 70px;
  top: 0;
  position: fixed;
  left: 0 ;
  z-index: 2;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  display: inline-flex;
  
  .logo {
    display: inline-flex;
    margin-left: 20px;
    cursor: pointer;
    
    h1 {
      color: white;
    }
    
    h1.kids {
      color: black;
      background: rgb(255, 145, 0);
      border-radius: 4px;
      padding: 0.3vh;
      margin-left: 5px;
      height: 27px;
    }
    
    #logoHint {
      position: absolute;
      top: 50px;
      background: rgb(50,50,50);
      border-radius: 12px;
      padding: 8px;
      cursor: pointer;
      filter: drop-shadow(0 0 0.75rem black);
      animation: fadeOut 6s ease;
      opacity: 0;
      z-index: 999;
    }
  }
  
  .search input {
    border-radius: 30px;
    transform: translateX(-50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
    background-color: rgb(40,40,40);
    border: none;
    padding: 12px;
    transition: 0.2s ease;
  }
  
  .search input:hover, .search input:not(:placeholder-shown) {
    background-color: rgb(50,50,50);
  }
  
  .buttonsRight {
    justify-content: right;
    position: absolute;
    right: 0;
    height: 70px;
    
    button, a {
      position: relative;
      top: 50%;
      margin-right: 15px;
      display: inline-flex;
      transform: translateY(-50%);
      padding: 12px;
      border: 1px solid gray;
      color: white;
      text-decoration: none;
      border-radius: 40px;
      background: black;
      transition: 0.2s ease;
    }
    
    button:hover, a:hover {
      background: rgb(40,40,40);
    }
  }
}

main {
  margin-top: 70px;
  
  .videos {
    height: 100%;
    width: 100vw;
    
    .video {
      background-color: rgb(20,20,20);
      width: 300px;
      height: 250px;
      margin: 30px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      display: inline-block;
      transition: 0.2s ease;
      filter: drop-shadow(0 0 12px rgba(150,150,150,0.4));
      
      .title {
        margin-left: 10px;
        margin-top: 10px;
        text-overflow: ellipsis;
      }
      
      .desc {
        text-overflow: ellipsis;
        margin-left: 10px;
        margin-top: -10px;
        color: rgb(150,150,150);
      }
      
      img {
        margin: 0;
        height: 73%;
        width: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.4s ease;
      }
    }
    
    .video:hover {
      background-color: rgb(30,30,30);
    }
  }
}

#videoPage {
  width: 100vw;
  height: 91.9vh;
  background: black;
  position: fixed;
  bottom: 0;
  /*transition-property: transform;*/
  transition: 0.2s ease;
  transform: translateY(100%);

  video, iframe {
    margin-top: 20px;
    width: 97vw;
    height: 600px;
    filter: drop-shadow(0 0 0.75rem gray);
    margin-left: 20px;
    border-radius: 20px;
  }
  
  iframe {
    border: none;
  }
  
  div.videoInfo {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    
    #videoTitle {
      margin-top: -30px;
    }
    
    #videoDesc {
      
    }
    
    #videoCreator {
      font-weight: bold;
      margin-left: 10px;
      display: inline-block;
    }
    
    button.subscribe {
      text-align: center;
      width: 100px;
      height: 30px;
      border-radius: 40px;
      border: none;
      color: black;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 20px;
      cursor: pointer;
      display: inline-block;
    }
    
    button.subscribed {
      color: white;
      background: rgb(40,40,40);
    }
  }
}

.hidden {
  visibility: hidden;
}