@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes adIdle {
  0% {
    filter: contrast(400%);
  }
  25% {
    filter: contrast(100%);
    transform: rotate(0deg);
  }
  50% {
    filter: contrast(500%);
    transform: rotate(5deg);
    width: 150%;
    height: 150%;
    margin-top: -25%;
    margin-left: -25%;
  }
  75% {
    filter: contrast(100%);
    transform: rotate(0deg);
  }
  100% {
    filter: contrast(400%);
  }
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  animation: fadeIn 0.3s ease;
}

nav {
  width: 100vw;
  height: 70px;
  top: 0;
  position: fixed;
  left: 0 ;
  z-index: 3;
  background: black;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  display: inline-flex;
  
  .logo {
    display: inline-flex;
    margin-left: 20px;
    cursor: pointer;
    
    h1 {
      color: white;
    }
    
    h1.kids {
      color: black;
      background: rgb(255, 145, 0);
      border-radius: 4px;
      padding: 0.3vh;
      margin-left: 5px;
      height: 27px;
    }
    
    #logoHint {
      position: absolute;
      top: 50px;
      background: rgb(50,50,50);
      border-radius: 12px;
      padding: 8px;
      cursor: pointer;
      filter: drop-shadow(0 0 0.75rem black);
      animation: fadeOut 6s ease;
      opacity: 0;
      z-index: 999;
    }
  }
  
  .search input {
    border-radius: 30px;
    transform: translateX(-50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
    background-color: rgb(40,40,40);
    border: none;
    padding: 12px;
    width: 300px;
    max-width: 20%;
    min-width: 30px;
    transition: 0.2s ease;
  }
  
  .search input:hover, .search input:not(:placeholder-shown) {
    background-color: rgb(50,50,50);
  }
  
  .buttonsRight {
    justify-content: right;
    position: absolute;
    right: 0;
    height: 70px;
    
    button, a {
      position: relative;
      top: 50%;
      margin-right: 15px;
      display: inline-flex;
      transform: translateY(-50%);
      padding: 12px;
      border: 1px solid gray;
      color: white;
      text-decoration: none;
      border-radius: 40px;
      background: black;
      transition: 0.2s ease;
    }
    
    button:hover, a:hover {
      background: rgb(40,40,40);
    }
  }
}

main {
  margin-top: 70px;
}

.videos {
  height: 100%;
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .video, .ad {
    background-color: rgb(20,20,20);
    width: 300px;
    height: 250px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s ease;
    flex-grow: 0;
    filter: drop-shadow(0 0 12px rgba(150,150,150,0.4));
    
    * {
      display: block;
    }
    
    a {
      text-decoration: none;
      color: inherit;
    }
    
    .title {
      margin-left: 10px;
      margin-top: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 20px;
    }
    
    .desc {
      text-overflow: ellipsis;
      margin-left: 10px;
      margin-top: -10px;
      color: rgb(150,150,150);
    }
    
    img {
      margin: 0;
      height: 73%;
      width: 100%;
      object-fit: fill;
      opacity: 0;
      transition: 0.4s ease;
    }
  }
  
  .ad {
    transition: 0.2s ease;
    
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .desc {
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 63%, rgba(0,0,0,.8) 100%);
      position: absolute;
      color: white;
      width: 100%;
      height: 10%;
      margin: 0;
      padding: 8px;
      left: 0;
      bottom: 0;
    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
      animation: adIdle 3s linear;
      animation-iteration-count: 999999999999999999999999999;
    }
  }
  
  .ad:hover {
    filter: brightness(80%);
  }
  
  .video:hover {
    background-color: rgb(30,30,30);
  }
}

.homeOverlay {
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
  bottom: 0;
  transition: 0.2s ease;
  transform: translateY(100%);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(40,40,40,1) 100%);
  overflow-x: hidden;
  overflow-y: scroll;
}

#videoPage {
  display: inline-flex;
  overflow-x: hidden;
  overflow-y: scroll;

  video, iframe {
    margin-top: 20px;
    min-width: 800px;
    max-width: 90vw;
    height: 95%;
    background: black;
    filter: drop-shadow(0 0 0.75rem gray);
    margin-left: 20px;
    border-radius: 20px;
    float: left;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  
  iframe {
    border: none;
  }
  
  div.videoInfo * {
    display: block;
  }
  
  div.videoInfo {
    margin: 30px;
    background: gray;
    min-width: 300px;
    max-width: 500px;
    float: right;
    flex-wrap: wrap;
    background: rgb(20,20,20);
    filter: drop-shadow(0 0 0.75rem rgb(70,70,70));
    padding: 30px;
    border-radius: 12px;
    
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    
    #videoTitle {
      height: 1.75rem;
      margin-top: -5px;
      margin-bottom: -20px;
      text-overflow: ellipsis;
      word-break: break-all;
      max-width: 100%;
      max-height: 40%;
      overflow-x: hidden;
    }
    
    #videoDesc {
      width: 100%;
    }
    
    .channelInfo {
      justify-content: center;
      display: block;
      background: rgb(30,30,30);
      padding: 12px;
      border-radius: 12px;
      filter: drop-shadow(0 0 0.75rem rgb(70,70,70));
    }
    
    #videoCreator {
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      height: 20px;
      text-align: center;
      width: 100%;
    }
    
    button.subscribe {
      text-align: center;
      width: 100%;
      height: 30px;
      border-radius: 40px;
      border: none;
      color: black;
      font-weight: bold;
      margin-top: 5px;
      cursor: pointer;
      display: inline-block;
      transition: 0.2s ease;
    }
    
    button.subscribed {
      color: white;
      background: rgb(60,60,60);
    }
  }
}

@media (max-width: 1200px) {
  #videoPage {
    display: block;
    justify-content: center;
    
    video, iframe {
      min-width: 0;
      float: none;
      height: 40%;
      width: 94vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    
    div.videoInfo {
      float: none;
      width: 80vw;
      min-width: 0;
      max-width: 80vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

#channelPage {
  z-index: 2;
  text-align: center;
}

.hidden {
  visibility: hidden;
}